.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/background.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
}

.signup-form {
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency for better visibility */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.signup-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 95.5%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.signup-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.signup-button:hover {
    background-color: #0056b3;
}

.redirect-button {
    background-color: transparent;
    color: #007bff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.redirect-button:hover {
    text-decoration: underline;
}
